name: Build docker image for control-plane-test-service

on:
  push:
    paths:
      - 'control-plane-test-service/**'

jobs:
  build-test-service:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and load test-service image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ghcr.io/netcracker/cp-test-service:latest
          context: ./
          file: ./control-plane-test-service/Dockerfile
          platforms: linux/amd64
